div(id='bpmn-container-' + id, style="width: 100%; height: " + height + "; position: relative; border: 1px solid black;")

script.
    (function() {
        const containerId = "#bpmn-container-#{id}";
        const filename = "#{file}";

        const bpmnViewer = new BpmnJS({
            container: containerId
        });

        $.get(filename, function(data) {
            const promise = bpmnViewer.importXML(data);
            let scale = "#{scale}";

            if ( scale !== "fit-viewport") {
                scale = parseFloat(scale)
                if (isNaN(scale)) {
                    scale = 1
                }
            }

            promise.then(
                function() {
                    const canvas = bpmnViewer.get('canvas');
                    const center = {x: 0, y: 0};
                    canvas.zoom(scale, center);
                }).catch(function(err) {
                return console.error('error rendering', err);
            });
        }, 'text');
    })();
