div(id='bpmn-container-' + id, style="width: 100%; height: " + height + "; position: relative; border: 1px solid black;")

script.
    (function() {
      var containerId = "#bpmn-container-#{id}";
      var filename = "#{file}";

      var bpmnViewer = new BpmnJS({
        container: containerId
      });

      $.get(filename, function(data) {
          var promise = bpmnViewer.importXML(data);
          promise.then(
          function() {
              // https://forum.bpmn.io/t/how-to-center-the-bpmn-graph-in-the-viewer/3773/10
              // access viewer components
              var canvas = bpmnViewer.get('canvas');
              // var overlays = bpmnViewer.get('overlays');
              // zoom to fit full viewport
              const { inner } = canvas.viewbox();
              const center = {
                x: inner.x + inner.width / 2,
                y: inner.y + inner.height / 2
              };

              canvas.zoom('fit-viewport', center);
          }).catch(function(err) {
              return console.error('error rendering', err);
          });
      }, 'text');
    })();
